@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Darker+Grotesque:wght@400;800&family=Poppins&display=swap');


:root {
    --fuente-logo: "Be Vietnam Pro", sans-serif;
    --fuente-parrafo: "Darker Grotesque", sans-serif;
    --fuente-titulo: "Poppins", sans-serif;
    --color-principal: #8db286;
}

html,body{
    width: 100vw;
    font-size: 16px;
}

main{
    margin: 100px 100px 100px 100px; 
    background-color: #D5D5D5a5;
    border-radius: 25px;
    width: auto;
}

main .somos .texto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


main .entidades .texto2{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

div h2{
    color:var(--color-principal);
    text-align: start;
    padding-left: 20px;
    font-family: var(--fuente-logo);
    padding-bottom: 5px;
    padding-top: 50px;
    font-size: 3rem;
}

div hr{
    width: 60%;
    height: 5px;
    background-color: var(--color-principal);
    
}

div p{
    font-family: var(--fuente-titulo);
    font-size: 1rem;
    font-weight: 300;
    margin: 20px;
    padding: 20px;
    text-align: start;
}


img{
    width: 70%;
    
}

.somos hr{
    width: 50%;
}


.proposito h2{
    padding-right: 20px;
    text-align: end;
}
.proposito hr{
    margin-left: 40%;
}

.proposito p{
    margin: 20px;
    text-align: end;
    padding-left: 210px;
}

.entidades{
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}

.entidades hr{
    width: 50%;
}
.entidades ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.entidades ul .items{
    font-family: var(--fuente-titulo);
    list-style:disc;
    margin-left: 50px;
    flex-wrap: wrap;
}

.entidades .texto2 .p2{
    flex-direction: column;

}

.seleccion h2{
    text-align: end;
    padding-right: 20px;
}

.seleccion hr{
    margin-left: 40%;
}

.seleccion p{
    text-align: end;
    padding-left: 270px;
}

.contacto{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.contacto h2{
    padding-top: 5px;
}
.contacto .contenedor-icons{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contacto .contenedor-icon{ 
    display: flex;
    align-items:  center;
    justify-content: start;
    padding: 0 0 0 60px;

}

.contacto p{
    margin: 0;
    padding: 0 0 8px 20px;
}


footer{
    background-color:var(--color-principal);
    width: 100%;
    text-align: center;
    font-family: var(--fuente-logo);
}
footer h2{
    font-size: 2rem;
    padding: 15px 0 8px 0;
}

footer .footer2{
    font-size: 0.8rem;
    padding: 15px 10px 0 10px;
}
footer .footer3{
    font-size: 1rem;
    padding: 0 0 15px 0;
}
