@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Darker+Grotesque:wght@400;800&family=Poppins&display=swap');


:root {
    --fuente-logo: "Be Vietnam Pro", sans-serif;
    --fuente-parrafo: "Darker Grotesque", sans-serif;
    --fuente-titulo: "Poppins", sans-serif;
    --color-principal: #8db286;
}

html,body{
    width: 100vw;
    font-size: 16px;
}


.section_1 h1{
    font-family: var(--fuente-logo);
    font-size: 29px;
    color: var(--color-principal);
    text-align: center;
    padding-top: 40px;
}

.section_1 h3{
    margin-left: 10% ;
}
.section_1 h3,ol{
    font-family: var(--fuente-titulo);
    font-size: 16px;
    color: #000000;
}

.section_1 ol .items{
    font-size: 1rem;
    list-style:decimal;
    margin-left: 15%;
    flex-wrap: wrap;
}

form{
    background-color: #D9D9D9;
    padding: 30px;
    margin: 90px 100px 90px 100px;
    border-radius: 15px;
    font-family: var(--fuente-logo);
}

form .form-label{
    font-size: 1rem;
}

form .mb-3 .form-control{
    padding: 10px;
    width: 100%;
    border-radius: 15px;
}

form .mb-3 .form-select{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
}

form h3{
    text-align: center;
    font-family: var(--fuente-logo);
    padding-bottom: 10px;
}

form textarea:placeholder {
    font-family: var(--fuente-logo);
}

footer{
    background-color:var(--color-principal);
    width: 100%;
    text-align: center;
    font-family: var(--fuente-logo);
}

footer h2{
    font-size: 3rem;
    padding: 20px 0 8px 0;
}

footer .footer2{
    font-size: 1rem;
    padding: 15px 0px 0 0px;
}

footer .footer3{
    font-size: 1.2rem;
    padding: 0 0 40px 0;
}